alabaster==0.7.12
ansicolor==0.2.6
anytree==2.8.0
apipkg==1.5
appdirs==1.4.4
apsw==3.34.0.post1
argcomplete==1.12.1
arrow==0.17.0
asn1crypto==1.4.0
asoundconf-gtk==1.1
atomicwrites==1.4.0
attrs==20.3.0
Automat==20.2.0
Babel==2.9.0
bcrypt==3.2.0
Beaker==1.11.0
beautifulsoup4==4.9.3
borgbackup==1.1.14
borgmatic==1.5.12
Brlapi==0.8.1
brz-etckeeper==0.0.0
btrfsutil==5.9
CacheControl==0.12.6
cached-property==1.5.2
cairocffi==1.2.0
CairoSVG==2.5.1
cffi==1.14.4
chardet==3.0.4
click==7.1.2
colorama==0.4.4
colour==0.1.5
constantly==15.1.0
contextlib2==0.6.0.post1
cryptography==3.3.1
css-parser==1.0.6
cssselect==1.1.0
cssselect2==0.4.1
cupshelpers==1.0
decorator==4.4.2
defusedxml==0.6.0
deluge==2.0.4.dev38
discid==1.2.0
distlib==0.3.1
distro==1.5.0
dnspython==1.16.0
docker==4.4.1
docker-compose==1.27.4
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.16
easygui==0.98.0
entrypoints==0.3
fail2ban==0.11.2
feedparser==5.2.1
GDAL==3.0.4
GeoIP==1.3.2
gitlint==0.15.0
gphoto2==2.2.4
greenlet==0.4.17
helpdev==0.7.1
html2text==2020.1.16
html5-parser==0.4.9
html5lib==1.1
hyperlink==21.0.0
idna==2.10
ifaddr==0.1.7
imagesize==1.2.0
importlib-metadata==3.3.0
incremental==17.5.0
iniconfig==1.1.1
jedi==0.17.2
jeepney==0.6.0
Jinja2==2.11.2
jsonschema==3.2.0
keyring==21.8.0
lensfun==0.3.95
libfdt==1.6.0
lit==0.11.0.dev0
llfuse==1.3.8
lockfile==0.12.2
louis==3.16.0
lxml==4.6.2
Mako==1.1.3
Markdown==3.3.3
MarkupSafe==1.1.1
mechanize==0.4.5
meson==0.56.1
Mimeo==2019.7.6.0.8.17
miniupnpc==2.1
more-itertools==8.6.0
msgpack==1.0.2
mutagen==1.45.1
mypy-extensions==0.4.3
netifaces==0.10.9
netsnmp-python==1.0a1
nftables==0.1
numpy==1.19.5
openshot-qt==2.5.1
ordered-set==4.0.2
OWSLib==0.20.0
packaging==20.8
pandocfilters==1.4.3
paramiko==2.7.2
parso==0.7.1
pathspec==0.8.1
pdfarranger==1.6.2
pep517==0.9.1
picard==2.5.6
pikepdf==2.3.0
Pillow==8.1.0
pluggy==0.13.1
ply==3.11
progress==1.5
psutil==5.8.0
psycopg2==2.8.6
pwquality==1.4.4
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.0
pychm==0.8.6
pycparser==2.20
pycups==2.0.1
pycurl==7.43.0.6
Pygments==2.7.3
PyGObject==3.38.0
PyHamcrest==1.9.0
pyinotify==0.9.6
pykwalify==1.8.0
pylast==4.1.0
pymediainfo==5.0.3
PyNaCl==1.4.0
pynvim==0.4.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyPDF2==1.26.0
pyproj==2.5.0
PyQt5==5.15.2
PyQt5-sip==12.8.1
PyQtWebEngine==5.15.2
pyrsistent==0.17.3
pytesseract==0.3.7
pytest==6.2.1
python-dateutil==2.8.1
python-dotenv==0.15.0
python-libtorrent==1.2.11
pytoml==0.1.21
pytz==2020.5
pyudev==0.22.0.dev20201112
pyxdg==0.26
PyYAML==5.3.1
pyzmq==20.0.0
QDarkStyle==2.8.1
QScintilla==2.11.6
QtPy==1.9.0
rapid-photo-downloader==0.9.26
rawkit==0.6.0
Reflector==2020.12.20.23.6.40
regex==2020.11.13
rencode==1.0.6
requests==2.25.1
resolvelib==0.5.4
retrying==1.3.3
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
SecretStorage==3.3.0
Send2Trash==1.5.0
service-identity==18.1.0
setproctitle==1.2.1
sh==1.14.1
sip==4.19.24
six==1.15.0
slip==0.6.5
slip.dbus==0.6.5
snowballstemmer==2.0.0
sortedcontainers==2.3.0
soupsieve==2.1
Sphinx==3.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
systemd-python==234
team==1.0
tenacity==6.3.1
termcolor==1.1.0
texttable==1.6.3
tinycss2==1.1.0
tldr==1.1.0
toml==0.10.2
tornado==6.1
Twisted==20.3.0
typing-extensions==3.7.4.3
tzlocal==2.1
unrardll==0.1.4
urllib3==1.26.2
vim-vint==0.3.20
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
xcffib==0.11.1
yamllint==1.25.0
youtube-dl==2021.1.3
zeroconf==0.28.6
zipp==3.4.0
zope.interface==5.2.0
