ansicolor==0.3.2
appdirs==1.4.4
apsw==3.35.4.post1
argcomplete==1.12.1
arrow==1.1.1
asoundconf-gtk==1.1
attrs==21.2.0
Automat==20.2.0
Babel==2.9.1
bcrypt==3.2.0
Beaker==1.11.0
beautifulsoup4==4.9.3
borgbackup==1.1.17
borgmatic==1.5.17
bottle==0.12.19
brz-etckeeper==0.0.0
btrfsutil==5.13
CacheControl==0.12.6
cached-property==1.5.2
cairocffi==1.2.0
CairoSVG==2.5.2
cchardet==2.1.7
cffi==1.14.6
chardet==4.0.0
click==8.0.1
colorama==0.4.4
colour==0.1.5
conan==1.38.0
constantly==15.1.0
contextlib2==0.6.0.post1
cryptography==3.4.7
css-parser==1.0.6
cssselect==1.1.0
cssselect2==0.4.1
cupshelpers==1.0
decorator==5.0.9
defusedxml==0.7.1
deluge==2.0.4.dev56
deprecation==2.1.0
discid==1.2.0
distlib==0.3.2
distro==1.5.0
dnspython==1.16.0
docker==5.0.0
docker-compose==1.29.2
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
easygui==0.98.0
evdev==1.4.0
fail2ban==0.11.2
fasteners==0.16
feedparser==5.2.1
fonttools==4.21.1
future==0.18.2
GDAL==3.3.0
GeoIP==1.3.2
gitlint==0.15.1
gphoto2==2.2.4
greenlet==1.1.0
hsaudiotag3k==1.1.3.post1
html2text==2020.1.16
html5-parser==0.4.9
html5lib==1.1
hyperlink==21.0.0
idna==3.2
ifaddr==0.1.7
importlib-metadata==4.6.1
incremental==21.3.0
jedi==0.18.0
jeepney==0.7.0
Jinja2==3.0.1
jsonschema==3.2.0
key-mapper==1.0.0
lensfun==0.3.95
libtorrent===1.2.14-build-libtorrent-rasterbar-src-libtorrent-rasterbar-1.2.14-bindings-python
lit==12.0.1.dev0
llfuse==1.3.8
lockfile==0.12.2
louis==3.18.0
lxml==4.6.3
Mako==1.1.4
Markdown==3.3.4
MarkupSafe==2.0.1
mechanize==0.4.5
MemoizeDB==2017.3.30.23.38.49
meson==0.59.0
Mimeo==2021.2.11.12.28.52
miniupnpc==2.2.2
monotonic==1.6
more-itertools==8.8.0
msgpack==1.0.2
mutagen==1.45.1
netifaces==0.11.0
netsnmp-python==1.0a1
nftables==0.1
node-semver==0.8.0
numpy==1.20.3
openshot-qt==2.5.1
ordered-set==4.0.2
OWSLib==0.24.1
packaging==20.9
pandoc-attributes==0.1.7
pandoc-eqnos==2.5.0
pandoc-fignos==2.4.0
pandoc-secnos==2.2.2
pandoc-tablenos==2.3.0
pandoc-xnos==2.5.0
pandocfilters==1.4.3
paramiko==2.7.2
parso==0.8.2
patch-ng==1.17.4
pathspec==0.9.0
pdfarranger==1.7.1
pep517==0.11.0
picard==2.6.3
pikepdf==2.16.1
Pillow==8.3.1
pluginbase==1.0.0
ply==3.11
pm2ml==2021.6.19.23.19.45
polib==1.1.1
Powerpill==2020.12.15.4.30.26
progress==1.5
psutil==5.8.0
psycopg2==2.9.1
py7zr==0.11.3
pyalpm==0.10.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.0
pychm==0.8.6
pycparser==2.20
pycryptodome==3.10.1
pycups==2.0.1
pycurl==7.43.0.6
pydbus==0.6.0
Pygments==2.9.0
PyGObject==3.40.1
pyinotify==0.9.6
PyJWT==1.7.1
pykwalify==1.8.0
pylast==4.2.1
pymediainfo==5.1.0
PyNaCl==1.4.0
pynvim==0.4.3
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyPDF2==1.26.0
pyproj==3.0.1
PyQt5==5.15.4
PyQt5-sip==12.9.0
PyQtWebEngine==5.15.4
pyrsistent==0.18.0
pytesseract==0.3.8
python-dateutil==2.8.1
python-dotenv==0.19.0
pytz==2021.1
pyudev==0.22.0.dev20201112
pyxdg==0.27
PyYAML==5.4.1
pyzmq==22.1.0
QScintilla==2.13.0
rapid-photo-downloader==0.9.26
rawkit==0.6.0
Reflector==2021.7.8.19.52.52
regex==2021.7.6
rencode==1.0.6
requests==2.26.0
resolvelib==0.5.5
retrying==1.3.3
ruamel.yaml==0.17.10
ruamel.yaml.clib==0.2.6
Send2Trash==1.7.1
service-identity==21.1.0
setproctitle==1.2.2
sh==1.14.2
sip==4.19.25
six==1.16.0
slip==0.6.5
slip.dbus==0.6.5
sortedcontainers==2.4.0
soupsieve==2.2.1
systemd-python==234
team==1.0
tenacity==8.0.1
termcolor==1.1.0
texttable==1.6.4
tinycss2==1.1.0
tldr==2.0.0
toml==0.10.2
tomli==1.1.0
tornado==6.1
tqdm==4.61.2
Twisted==21.2.0
tzlocal==2.1
unrardll==0.1.4
urllib3==1.26.6
vboxapi==1.0
vim-vint==0.3.20
webencodings==0.5.1
websocket-client==0.59.0
xcffib==0.11.1
XCGF==2017.3.10.23.45.54
XCPF==2019.11.18.23.47.4
yamllint==1.26.1
youtube-dl==2021.6.6
zeroconf==0.29.0
zipp==3.5.0
zope.interface==5.4.0
